<div class="m-5 d-flex flex-column align-items-center">
  <div class="w-100 feature-card d-flex flex-row align-items-center">
    <%= image_tag "table.svg", class: "feature-icon" %>
    <p class="mb-0 feature-text">Organize your tasks, projects and ideas by creating thematic boards adapted to your needs</p>
  </div>
  <div class="w-100 feature-card d-flex flex-row align-items-center">
    <p class="mb-0 feature-text">Add cards for each task, assign members, set due dates, and track progress at a glance.</p>
    <%= image_tag "todo.svg", class: "feature-icon" %>
  </div>
  <div class="w-100 feature-card d-flex flex-row align-items-center">
    <%= image_tag "member.svg", class: "feature-icon" %>
    <p class="mb-0 feature-text">Invite colleagues and teammates to join your boards to work together, share ideas, and coordinate your efforts</p>
  </div>
  <div class="w-100 feature-card d-flex flex-row align-items-center">
    <p class="mb-0 feature-text">Keep an overview of the progress of your projects thanks to a simple and intuitive interface</p>
    <%= image_tag "work.svg", class: "feature-icon" %>
  </div>
  <div class="w-100 feature-card d-flex flex-row align-items-center">
    <%= image_tag "label.svg", class: "feature-icon" %>
    <p class="mb-0 feature-text">Use labels, lists and tables to prioritize tasks, set priorities and keep the overview clear.</p>
  </div>
</div>
