<div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-opened-content">
      <%= render "shared/modals/header" do %>
        <h5 class="modal-title" id="createProjectModalLabel">Create Project</h5>
        <%= image_tag "plus.svg", class: "icon rotate-45", data: { bs_dismiss: "modal" } %>
      <% end %>
      <%= render "shared/modals/content" do %>
        <%= form_for @project, url: { action: :create }, remote: true, html: { class: "form" } do |f| %>
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-input", placeholder: "Project Name" %>
          <% if @project.errors.full_messages_for(:name).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:name).first %></p>
          <% end %>
          <%= f.label :description, class: "form-label mt-3" %>
          <%= f.text_area :description, class: "form-input", placeholder: "Project Description" %>
          <% if @project.errors.full_messages_for(:description).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:description).first %></p>
          <% end %>
          <%= render "shared/modals/footer" do %>
            <%= f.button :submit, class: "main-btn" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>