<% task = local_assigns[:task] %>

<div class="modal fade" id="addLabelModal" tabindex="-1" aria-labelledby="addLabelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-opened-content">
      <%= render "shared/modals/header" do %>
        <h5 class="modal-title" id="addLabelModalLabel">Add labels to the task <%= task.name %></h5>
        <%= image_tag "plus.svg", class: "icon rotate-45", data: { bs_dismiss: "modal" } %>
      <% end %>
      <%= render "shared/modals/content" do %>
        <%= form_tag task_task_labels_path(task), method: :post, remote: true, class: "form p-2" do %>
          <% @project.labels.each do |label| %>
            <% bgcolor = label.color %>
            <div class="p-2 my-2 rounded-2" style="background-color: <%= bgcolor %>;">
              <%= check_box_tag "label_ids[]", label.id, task.task_labels.include?(label), class: "form-check-input label-checkbox" %>
              <%= label_tag "label_ids_#{label.id}", label.name, class: "form-check-label" %>
              <%= hidden_field_tag "task_id", task.id %>
            </div>
          <% end %>
          <%= hidden_field_tag "task_id", task.id %>
          <%= render "shared/modals/footer" do %>
            <%= submit_tag "Update Labels", class: "main-btn" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
