<div class="modal fade" id="createLabelModal" tabindex="-1" aria-labelledby="createLabelModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-opened-content">
      <%= render "shared/modals/header" do %>
        <h5 class="modal-title" id="createLabelModalLabel">Create Label</h5>
        <%= image_tag "plus.svg", class: "icon rotate-45", data: { bs_dismiss: "modal" } %>
      <% end %>
      <%= render "shared/modals/content" do %>
        <%= form_for @label, url: project_labels_path(@project), method: :post, remote: true, html: { class: "form" } do |f| %>
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-input", placeholder: "Name Label" %>
          <% if @project.errors.full_messages_for(:name).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:name).first %></p>
          <% end %>
          <%= f.label :color, class: "form-label mt-3" %>
            <%= f.color_field :color, id: "Color_field_button", class: "form-input", placeholder: "Color Label", value: @label.color %>

          <% if @project.errors.full_messages_for(:color).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:color).first %></p>
          <% end %>
          <% if @project.errors.full_messages_for(:color).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:color).first %></p>
          <% end %>
          <%= f.hidden_field :project_id, value: @project.id %>
          <%= render "shared/modals/footer" do %>
            <%= f.button :submit, class: "main-btn" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
