<div class="drag-container"></div>
<div class="board mx-3" data-controller="muuri">

  <% boards.each do |board| %>
    <div class="board-column py-3">
      <div class="board-column-container">
        <div class="board-column-header"><%= board.name %></div>
        <div class="board-column-content-wrapper">
          <div class="board-column-content" id="board-<%= board.id %>" >
            <% board.tasks.each do |task| %>
              <%= render "shared/projects/boards/task", task: task %>
            <% end %>
          </div>
        </div>
        <div class="board-column-footer">
          <div class="bg-background px-3 rounded-2 py-2 w-100 add-task-btn" id="add-task-<%= board.id %>" data-action="click->muuri#addTask" data-board-id="<%= board.id %>">
            Add Task
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<% boards.each do |board| %>
  <% board.tasks.each do |task| %>
    <%= render "shared/projects/labels/add", task: task %>
    <%= render "shared/projects/boards/deadline", task: task, board: board %>
  <% end %>
<% end %>
