<div class="modal fade" id="createBoardModal" tabindex="-1" aria-labelledby="createBoardModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-opened-content">
      <%= render "shared/modals/header" do %>
        <h5 class="modal-title" id="createProjectBoardLabel">Create Board</h5>
        <%= image_tag "https://svgshare.com/i/xJ1.svg", class: "icon rotate-45", data: { bs_dismiss: "modal" } %>
      <% end %>
      <%= render "shared/modals/content" do %>
        <%= form_for [project, board] do |f| %>
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-input", placeholder: "Board Name" %>
          <% if board.errors.full_messages_for(:name).any? %>
            <p class="text-danger"><%= board.errors.full_messages_for(:name).first %></p>
          <% end %>
          <%= f.label :description, class: "form-label mt-3" %>
          <%= f.text_area :description, class: "form-input", placeholder: "Board Description" %>
          <% if board.errors.full_messages_for(:description).any? %>
            <p class="text-danger"><%= board.errors.full_messages_for(:description).first %></p>
          <% end %>
          <%= render "shared/modals/footer" do %>
            <%= f.button :submit, class: "main-btn" %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>