<div class="board-item" id="board-<%= task.board.id %>-task-<%= task.id %>">
    <div class="task-container bg-background py-2 px-3 rounded-2 mt-2 hover-pointer d-flex flex-column justify-content-between w-100">
        <div class="d-flex flex-wrap">
            <% task.task_labels.each do |task_label| %>
                <div class="label rounded-2 px-1 py-1 fs-6 me-2 mb-2" style="background-color: <%= task_label.label.color %>"><%= task_label.label.name %></div>
            <% end %>
        </div>
        <div>
            <div class="text-light-grey fs-6 mb-0 overflow-hidden flex-grow-1"><%= task.name %></div>
            <div class="icons bg-background p-2 h-100 d-flex align-items-center pe-0">
                <%= image_tag "clock.svg", class: "to-disable-btn icon-task", data: { bs_toggle: "modal", bs_target: "#addDeadLineModal-#{task.id}" }, id: "addDeadLineModalButton"%>
                <%= image_tag "label.svg", class: "to-disable-btn icon-task", data: { bs_toggle: "modal", bs_target: "#addLabelModal-#{task.id}" }, id: "addLabelModalButton"%>
                <%= image_tag "user.svg", class: "to-disable-btn icon-task" %>
                <%= image_tag "infos.svg", class: "to-disable-btn icon-task" %>
            </div>
        </div>
    </div>
</div>

