<div class="bg-dark-background">
  <div class="container py-3">
    <div class="d-flex gap-5 align-items-center justify-content-between">
      <%= link_to projects_path do %>
        <%= image_tag "logo.png", class: "logo" %>
      <% end %>
      <div class="mx-4 text-light-grey fs-4"><%= @project.name %></div>
      <div>
        <%= image_tag "https://svgshare.com/i/xKV.svg", class: "icon", data: { bs_toggle: "modal", bs_target: "#showLabelModal" }, id: "showLabelModalButton" %>
        <%= image_tag "https://svgshare.com/i/xJ1.svg", class: "icon", data: { bs_toggle: "modal", bs_target: "#createBoardModal" }, id: "createBoardModalButton" %>
        <%= image_tag "https://svgshare.com/i/xKw.svg", class: "icon", data: { bs_toggle: "modal", bs_target: "#editMembersModal" }, id: "editMembersModalButton" %>
        <%= link_to "Log Out", destroy_user_session_path, data: { turbo_method: :delete }, class: "mx-2 main-btn fs-6" %>
        <%= image_tag "https://svgshare.com/i/xJn.svg", class: "icon", data: { bs_toggle: "modal", bs_target: "#editProjectModal" }, id: "editProjectModalButton" %>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/projects/edit' %>
<%= render 'shared/projects/labels/labels' %>
<%= render 'shared/projects/members/edit' %>


