<div class="bg-blue">
  <div class="container py-5">
    <div class="d-flex gap-5 align-items-center justify-content-between py-5">
      <%= render 'shared/logo' %>
      <div class="d-flex justify-content-center flex-column">
        <h1 class="text-black fs-1">Flowboard</h1>
        <p class="text-black fs-4 mb-3">FlowBoard is more than just a project management platform. It is a complete solution that allows you to streamline your tasks, collaborate seamlessly with your team, manage project timelines efficiently, track progress with detailed analytics, and facilitate effective communication, all within a single, intuitive interface.</p>
        <% if current_user %>
          <%= link_to "Show Projects", projects_path, class: "main-btn fs-5" %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path, class: "main-btn fs-5" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-md-4">
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= project.name %></h5>
            <p class="card-text">Description: <%= project.description %></p>
            <%= link_to "Edit", edit_project_path(project), class: "btn btn-primary mr-2" %>
            <%= link_to "Delete", project, class: "btn btn-danger", data: { turbo_confirm: "Are you sure?", turbo_method: :delete }, method: :delete %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="col-md-4">
      <div class="card mb-3">
        <div class="card-body d-flex align-items-center justify-content-center">
          <button type="button" class="btn btn-success btn-block" data-bs-toggle="modal" data-bs-target="#createProjectModal">
            <i class="fas fa-plus"></i> Create Project
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Create Project Modal -->
<div class="modal fade" id="createProjectModal" tabindex="-1" aria-labelledby="createProjectModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createProjectModalLabel">Create Project</h5>
        <button type="button" class="btn btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <%= simple_form_for @project do |f| %>
          <%= f.input :name %>
          <%= f.input :description %>
          <div class="modal-footer">
            <%= f.button :submit, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>