<div class="modal fade" id="createPermModal" tabindex="-1" aria-labelledby="createPermModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-openned-content">
      <div class="modal-openned-header text-light-grey bg-dark-background border-0">
        <h5 class="modal-title" id="createPermModalLabel">Create Project</h5>
        <%= image_tag "plus.svg", class: "icon rotate-45", data: { bs_dismiss: "modal" } %>
      </div>
      <div class="modal-opened-body text-light-grey bg-dark-background">
        <%= form_for @project, url: { action: :create }, remote: true, html: { class: "form" } do |f| %>
          <%= f.label :name, class: "form-label" %>
          <%= f.text_field :name, class: "form-input", placeholder: "Project Name" %>
          <% if @project.errors.full_messages_for(:name).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:name).first %></p>
          <% end %>
          <%= f.label :description, class: "form-label mt-3" %>
          <%= f.text_area :description, class: "form-input", placeholder: "Project Description" %>
          <% if @project.errors.full_messages_for(:description).any? %>
            <p class="text-danger"><%= @project.errors.full_messages_for(:description).first %></p>
          <% end %>
          <div class="modal-footer mx-0 px-0 border-0">
            <%= f.button :submit, class: "main-btn" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>